<section>
  <div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">



      <div class="bg-gray-800 pt-3">
          <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
              <h1 class="font-bold pl-2">Quản lý sản phẩm</h1>
          </div>
      </div>
      <a routerLink="/admin/addsp" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD</a>
      <div class="table-responsive p-3">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th scope="col" class="md:w-screen">ID</th>
              <th scope="col" class="md:w-screen">Tên sản phẩm</th>
              <th scope="col" class="md:w-screen">Giá</th>
              <th scope="col" class="md:w-screen md:table-cell hidden">Giá gốc</th>
              <th scope="col" class="md:w-screen md:hidden table-cell">Chi tiết</th>
              <th scope="col" class="md:w-screen md:table-cell hidden">
                Mô tả ngắn
              </th>
              <th scope="col" class="md:w-screen md:table-cell hidden">Thời gian</th>
              <th scope="col" class="md:w-screen md:table-cell hidden">Hình ảnh</th>
              <th scope="col" class="md:w-screen">Thao tác</th>
            </tr>
          </thead>
          <tbody >
            <!-- *ngFor="
              let item of products | paginate : { itemsPerPage: 3, currentPage: p };
              index as i
            " -->
            <tr class="text-center" *ngFor="let food of foods,index as i ">
              <th scope="row">{{food._id+1}}</th>
              <td>
                <span>{{food.name}}</span>
              </td>
              <td>
                <span>{{food.realPrice}}</span>
              </td>
              <td>
                <span>{{food.price}}</span>
              </td>
              <td >
                <span>{{food.des}}</span>
              </td>
              <td >
                <span>{{food.cookTime}}</span>
              </td>
              <td >
                <span><img [src]="food.imageUrl" alt=""></span>
              </td>

              <td>
                <div class="flex gap-1 justify-center">
                  <button routerLink='{{food._id }}' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct">
                    <span >Sửa</span>
                  </button>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_prod">
                    <span (click) = 'foodRemove(food._id)'>Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-end mr-5 mt-3">
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </div>
    </div>

    <!-- The Modal Short description -->
    <div class="modal" id="short_description">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">Mô tả ngắn</div>
        </div>
      </div>
    </div>

    <!-- The Modal Description -->
    <div class="modal" id="description">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">Mô tả dài</div>
        </div>
      </div>
    </div>

    <!-- The Modal Specifications -->
    <div class="modal" id="specifications">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">Thông số kỹ thuật</div>
        </div>
      </div>
    </div>

    <!-- The Modal Edit Product -->
    <div class="modal" id="editProduct">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Chỉnh sửa thông tin sản phẩm</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>Form thông tin sản phẩm</form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alert">
              <span>Lưu</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal Edit Product Success -->
    <div class="modal" id="alert">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="alert alert-success">
              <span>Chỉnh sửa thông tin sản phẩm thành công!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal Delete Product -->
    <div class="modal" id="delete_prod">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Xóa sản phẩm</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>Chi tiết sản phẩm muốn xóa</form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete_success">
              <span>Đồng ý</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal Delete Product Success -->
    <div class="modal" id="delete_success">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="alert alert-success">
              <span>Xóa sản phẩm thành công!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal Detail Product -->
    <div class="modal" id="detail_prod">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Tên sản phẩm</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>Chi tiết sản phẩm</form>
          </div>
        </div>
      </div>
    </div>
